@font-face {
  font-family: alarmclock;
  src: url(../fonts/alarm\ clock.ttf);
}

@font-face {
  font-family: noto-extra-bold-italic;
  src: url(../fonts/NotoSans-ExtraBoldItalic.ttf);
}

@font-face {
  font-family: noto-regular;
  src: url(../fonts/NotoSans-Regular.ttf);
}

body {
  width: 100%;
  font-size: 20px;
}

main {
  height: 15em;
  width: 30em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #423e3e;
}

#clock-container {
  display: grid;
  grid-template: 4fr 1fr / 7fr 1fr;
  height: 13em;
  width: 28em;
  background-color: #1f2e1f;
  color: hsla(155, 98%, 50%, 100%);
  text-shadow: 0.2em 0.2em 0.2em hsla(155, 98%, 50%, 50%);
  transition: ease-out 200ms;
}

#time {
  font-family: alarmclock, sans-serif;
  font-size: 8em;
  justify-self: end;
  align-self: center;
  padding-right: 0.2em;
}

#am-pm-24 {
  font-family: noto-extra-bold-italic, sans-serif;
  font-size: 2em;
  padding-top: 0.5em;
}

#day-date {
  font-family: noto-regular, sans-serif;
  padding: 0 0 0.8em 0.8em;
}

#slider {
  display: none;
}

#slider + label {
  position: relative;
  right: 0.5em;
  height: 1.5em;
  width: 4em;
  background-color: hsla(155, 98%, 50%, 100%);
  border-radius: 0.75em;
  box-shadow: 0.2em 0.2em 0.2em hsla(155, 98%, 50%, 50%);
  cursor: pointer;
}

#slider + label > div {
  position: relative;
  height: 1em;
  width: 1em;
  margin: 0.25em;
  background-color: #423e3e;
  border-radius: 50%;
  transition: ease-out 200ms;
}

#slider:checked + label > div {
  transform: translateX(2.5em);
}