@font-face {
  font-family: alarmclock;
  src: url(../fonts/alarm\ clock.ttf);
}

@font-face {
  font-family: noto-extra-bold-italic;
  src: url(../fonts/NotoSans-ExtraBoldItalic.ttf);
}

@font-face {
  font-family: noto-regular;
  src: url(../fonts/NotoSans-Regular.ttf);
}

body {
  width: 100%;
  font-size: 20px;
}

main {
  height: 15em;
  width: 30em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #423e3e;
}

#clock-container {
  display: grid;
  grid-template: 4fr 1fr / 7fr 1fr;
  height: 13em;
  width: 28em;
  background-color: hsl(120, 19%, 15%);
}

#clock-container > div {
  color: rgb(3, 252, 148)
}

#time {
  font-family: alarmclock, sans-serif;
  font-size: 8em;
  justify-self: end;
  align-self: center;
  padding-right: 0.2em;
}

#am-pm {
  font-family: noto-extra-bold-italic, sans-serif;
  font-size: 2em;
  padding-top: 0.5em;
}

#day-date {
  font-family: noto-regular, sans-serif;
  padding: 0 0 0.8em 0.8em;
}